* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MyFont';
    src: url('./resources/myFont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.svg-elem {
    height: 60%;
    width: auto;
    fill: white;
    position: absolute;
}

body {
    height: 100vh;
}

#container {
    width: 100%;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    padding: 80px;
    gap: 40px;
    background-image: url("resources/clouds.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-items {
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    gap: 20px;
}

#form-div {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

#search-form {
    background-color: rgb(0, 0, 0, 0.6);
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
}

#input-button, #button-c-f {
    background-color: rgb(0, 0, 0, 0.8);
    border: none;
    color: white;
    font-family: 'MyFont', serif;
    transition: 0.3s ease-in-out;
}

input {
    font-size: 1em;
    padding: 10px;
    font-family: 'MyFont', serif;
}

.current-side {
    grid-column: 1 / 2;
    display: flex;
}

.svg {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.current-side-text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#astro, #wind, #uv, #precip {
    font-size: 30px;
    font-family: 'MyFont', serif;
}

#main {
    grid-area: 2 / 2 / -1 / -2;
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: left;
}

#day-1, #day-2 {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: left;
}

#day-1 {
    grid-area: 2 / -2 / 4 / -1;
}

#day-2 {
    grid-area: 4 / -2 / 6 / -1;
}

::backdrop {
    background-color: gray;
    opacity: 0.5;
}

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background:none;
}

.container {
    --uib-size: 50px;
    --uib-color: black;
    --uib-speed: .9s;
    --uib-bg-opacity: .1;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    overflow: visible;
}

.car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 15, 85;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: travel var(--uib-speed) linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
}

.track {
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.5s ease;
}

@keyframes travel {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 100;
    }
}

input:hover {
    transform: scale(1.05);
}